{% extends '_layout.njk' %}

{% block content %}
  <h3>Tracked aircraft in target airspace</h3>
  {% if aircraft.length %}
    <div class="accordion" id="accordion-plane">
      {% for plane in aircraft %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-{{ plane.icao24 }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ plane.icao24 }}" aria-expanded="true" aria-controls="collapse-{{ plane.icao24 }}">
              {{ plane.icao24 }} - {{ plane.callSign }}<br>{{ plane.timestampFormatted }}
            </button>
          </h2>
          <div id="collapse-{{ plane.icao24 }}" class="accordion-collapse collapse {% if loop.index == 1 %}show{% endif %}" aria-labelledby="header-{{ plane.icao24 }}" data-bs-parent="#accordion-plane">
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>ICAO24</strong>
                  </div>
                  <div class="col">
                    {{ plane.icao24 }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Call sign</strong>
                  </div>
                  <div class="col">
                    {{ plane.callSign }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Origin country</strong>
                  </div>
                  <div class="col">
                    {{ plane.originCountry }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>Registration</strong>
                  </div>
                  <div class="col">
                    {{ plane.registration }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Manufacturer</strong>
                  </div>
                  <div class="col">
                    {{ plane.manufacturername }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Model</strong>
                  </div>
                  <div class="col">
                    {{ plane.model }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>Owner</strong>
                  </div>
                  <div class="col">
                    {{ plane.owner }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Category</strong>
                  </div>
                  <div class="col">
                    {{ plane.categoryDescription }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Built</strong>
                  </div>
                  <div class="col">
                    {{ plane.built }}
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>Time position</strong>
                  </div>
                  <div class="col">
                    {{ plane.timePositionDateFormatted }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Last contact</strong>
                  </div>
                  <div class="col">
                    {{ plane.lastContactDateFormatted }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Flight path</strong>
                  </div>
                  <div class="col">
                    <a href="/map?icao24={{ plane.icao24 }}">View on map</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>Longitude</strong>
                  </div>
                  <div class="col">
                    {{ plane.longitude }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Latitude</strong>
                  </div>
                  <div class="col">
                    {{ plane.latitude }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>True track (&#176;)</strong>
                  </div>
                  <div class="col">
                    {{ plane.trueTrack }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>Barometric altitude (m)</strong>
                  </div>
                  <div class="col">
                    {{ plane.barometricAltitude }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Geometric altitude (m)</strong>
                  </div>
                  <div class="col">
                    {{ plane.geoAltitude }}
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="col">
                    <strong>Velocity (mph)</strong>
                  </div>
                  <div class="col">
                    {{ plane.velocityMph }}
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <strong>Vertical rate (mph)</strong>
                  </div>
                  <div class="col">
                    {{ plane.verticalRateMph }}
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
    No plane aircraft
  </div>
  {% endif %}
{% endblock %}
