{% extends '_layout.njk' %}

{% block content %}
  <h3>Flight path for transponder {{ icao24 }}</h3>
  <div id="map" class="map"></div>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
  <script src="{{ assetPath }}/map.js"></script>
  <script>
    const route = {{ route | dump | safe }}
    displayMap(route)
  </script>
{% endblock %}
